@tailwind base;
@tailwind components;
@tailwind utilities;



/* Light mode styles */
:root {
  --background-color: #ffffff; 
  --text-color: #030303b6; 

}

/* Dark mode styles */
.dark {
  --background-color: #323136; 
  --text-color: #ffffff; 

}

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    background-color: var(--background-color);
    color: var(--text-color);
  }